<form method="POST" action={{ url_for('edit_szn_eg', Id=Id) }}>
    {{ form.csrf_token }}
    
   <table>  
    <tr>
        <td align="right">{{ form.V00ESS1DEK1LI01.label }} :</td>
        <td align="left">{{  form.V00ESS1DEK1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00ESS1RUM1LI01.label }} :</td>
        <td align="left">{{  form.V00ESS1RUM1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00ESS1OUT1PO01.label }} :</td>
        <td align="left">{{  form.V00ESS1OUT1PO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00FLU1DEK1LI01.label }} :</td>
        <td align="left">{{  form.V00FLU1DEK1LI01(size=20) }} </td>
    </tr>            
    <tr>
        <td align="right">{{ form.V00FLU1SRA1LI01.label }} :</td>
        <td align="left">{{  form.V00FLU1SRA1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00FLU1TUE1DO03.label }} :</td>
        <td align="left">{{  form.V00FLU1TUE1DO03(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00FLU1TUE1DO03conf.label }} :</td>
        <td align="left">{{  form.V00FLU1TUE1DO03conf(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00FLU1TUE1PC01.label }} :</td>
        <td align="left">{{  form.V00FLU1TUE1PC01(size=20) }} </td>
    </tr>      
    <tr>
        <td align="right">{{ form.V00KUE1ZIM1PO01.label }} :</td>
        <td align="left">{{  form.V00KUE1ZIM1PO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00KUE1ADV1LI01.label }} :</td>
        <td align="left">{{  form.V00KUE1ADV1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00KUE1DEK1LI01.label }} :</td>
        <td align="left">{{  form.V00KUE1DEK1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00KUE1DEK1LI02.label }} :</td>
        <td align="left">{{  form.V00KUE1DEK1LI02(size=20) }} </td>
    </tr>        
    <tr>
        <td align="right">{{ form.V00KUE1RUM1AV11.label }} :</td>
        <td align="left">{{  form.V00KUE1RUM1AV11(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00KUE1RUM1LI01.label }} :</td>
        <td align="left">{{  form.V00KUE1RUM1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00KUE1RUM1ST01.label }} :</td>
        <td align="left">{{  form.V00KUE1RUM1ST01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00KUE1RUM1TE01.label }} :</td>
        <td align="left">{{  form.V00KUE1RUM1TE01(size=20) }} </td>
    </tr>      
    <tr>
        <td align="right">{{ form.V00KUE1SRA1LI01.label }} :</td>
        <td align="left">{{  form.V00KUE1SRA1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00TOI1DEK1LI01.label }} :</td>
        <td align="left">{{  form.V00TOI1DEK1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00TRE1RUM1AL01.label }} :</td>
        <td align="left">{{  form.V00TRE1RUM1AL01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00TRE1RUM1AL02.label }} :</td>
        <td align="left">{{  form.V00TRE1RUM1AL02(size=20) }} </td>
    </tr>              
    <tr>
        <td align="right">{{ form.V00TRE1RUM1AL03.label }} :</td>
        <td align="left">{{  form.V00TRE1RUM1AL03(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00TRE1RUM1LI01.label }} :</td>
        <td align="left">{{  form.V00TRE1RUM1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1ADV1LI01.label }} :</td>
        <td align="left">{{  form.V00WOH1ADV1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1ADV1LI02.label }} :</td>
        <td align="left">{{  form.V00WOH1ADV1LI02(size=20) }} </td>
    </tr>      
    <tr>
        <td align="right">{{ form.V00WOH1DEK1LI01.label }} :</td>
        <td align="left">{{  form.V00WOH1DEK1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1AV01.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1AV01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1AV11.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1AV11(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1DI01.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1DI01(size=20) }} </td>
    </tr>        
    <tr>
        <td align="right">{{ form.V00WOH1RUM1DO10.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1DO10(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1LI11.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1LI11(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1LI12.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1LI12(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1LI13.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1LI13(size=20) }} </td>
    </tr>      
    <tr>
        <td align="right">{{ form.V00WOH1RUM1LI14.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1LI14(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1PC01.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1PC01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1ST01.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1ST01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1RUM1ST02.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1ST02(size=20) }} </td>
    </tr>            
    <tr>
        <td align="right">{{ form.V00WOH1RUM1TV01.label }} :</td>
        <td align="left">{{  form.V00WOH1RUM1TV01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1SRA1LI01.label }} :</td>
        <td align="left">{{  form.V00WOH1SRA1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1SRA1LI02.label }} :</td>
        <td align="left">{{  form.V00WOH1SRA1LI02(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1SRA1LI03.label }} :</td>
        <td align="left">{{  form.V00WOH1SRA1LI03(size=20) }} </td>
    </tr>      
    <tr>
        <td align="right">{{ form.V00WOH1SRA1LI04.label }} :</td>
        <td align="left">{{  form.V00WOH1SRA1LI04(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1SRA1LI11.label }} :</td>
        <td align="left">{{  form.V00WOH1SRA1LI11(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1SRA1PC01.label }} :</td>
        <td align="left">{{  form.V00WOH1SRA1PC01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1STV01.label }} :</td>
        <td align="left">{{  form.V00WOH1STV01(size=20) }} </td>
    </tr>        
    <tr>
        <td align="right">{{ form.V00WOH1STV02.label }} :</td>
        <td align="left">{{  form.V00WOH1STV02(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00WOH1TUR1LI01.label }} :</td>
        <td align="left">{{  form.V00WOH1TUR1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00ZIM0RUM0DO01.label }} :</td>
        <td align="left">{{  form.V00ZIM0RUM0DO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.V00ZIM0RUM0DO02.label }} :</td>
        <td align="left">{{  form.V00ZIM0RUM0DO02(size=20) }} </td>
    </tr>      
   
  </table>   
   
   <input type="submit" value="Go">
</form>     