<form method="POST" action={{ url_for('edit_szn_a', Id=Id) }}>
    {{ form.csrf_token }}
    
   <table>  
    <tr>
        <td align="right">{{ form.A00EIN1ADV1ST01.label }} :</td>
        <td align="left">{{  form.A00EIN1ADV1ST01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00EIN1GEN1LI01.label }} :</td>
        <td align="left">{{  form.A00EIN1GEN1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00GAR1POW1DO01.label }} :</td>
        <td align="left">{{  form.A00GAR1POW1DO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00GAR1WAS1DO01.label }} :</td>
        <td align="left">{{  form.A00GAR1WAS1DO01(size=20) }} </td>
    </tr>      
    <tr>
        <td align="right">{{ form.A00GAR1WAS3DO01.label }} :</td>
        <td align="left">{{  form.A00GAR1WAS3DO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00GAR1WAS2DO01.label }} :</td>
        <td align="left">{{  form.A00GAR1WAS2DO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00RAS1MAE1DO01.label }} :</td>
        <td align="left">{{  form.A00RAS1MAE1DO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00TER1ADV1ST01.label }} :</td>
        <td align="left">{{  form.A00TER1ADV1ST01(size=20) }} </td>
    </tr>        
    <tr>
        <td align="right">{{ form.A00TER1DEK1LI01.label }} :</td>
        <td align="left">{{  form.A00TER1DEK1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00TER1GEN1LI01.label }} :</td>
        <td align="left">{{  form.A00TER1GEN1LI01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00TER1GEN1PO01.label }} :</td>
        <td align="left">{{  form.A00TER1GEN1PO01(size=20) }} </td>
    </tr>  
    <tr>
        <td align="right">{{ form.A00TER1GEN1ST01.label }} :</td>
        <td align="left">{{  form.A00TER1GEN1ST01(size=20) }} </td>
    </tr>    
  </table>
   <input type="submit" value="Go">
</form> 