<!doctype html>
<html>
    <body>

        <form method="post" action="/">

                <input type="submit" value="Wir sind Besucher" name="Besucher" style="height:250px;width:500px;font-size:300%"/><br>
                <input type="submit" value="Alarmanlage aus" name="AlarmAus"  style="height:250px;width:500px;font-size:300%"/><br>
                <input type="submit" value="Alarmanlage ein" name="AlarmEin"  style="height:250px;width:500px;font-size:300%"/>
            </div>
        </form>
    </body>
</html>